# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.js text
*.html text
*.htm text
*.css text

# .sh files should have *nix endings, even on Windows
# .ind files (test resources) should have *nix endings, even on Windows -- it's what they have in the web app
*.sh text eol=lf
*.ind text eol=lf

# Declare files that will always have CRLF line endings on checkout.
#*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
#*.png binary
