body {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQoU2Osmby1viXXu5GBAGAkpAAmP6oQb0gRHTwAYc8EC0Cy7OMAAAAASUVORK5CYII=) repeat,linear-gradient(90deg,#1f5881 0,#284678 12%,#2d4e88 41%,#335696 83%,#2a6aaf)
}
span.error {
	background-color: red;
	color: white;
}
span.warning {
    background-color: orange;
    color: white;
}
span#exceptions {
    color:red;
    font-size:14px;
}
button {
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}
button.error {
    background-color: #a80000;
    color: white;  
}
button.error:hover {
    background-color: red;
}
button.warning {
    background-color: #db8300;
    color: white;  
}
button.warning:hover {
    background-color: orange;
}
button.compliant {
    background-color: #006607;
    color: white;  
}
button.compliant:hover {
    background-color: green;
}
button.notexecuted {
    background: #ddd;
    color: #000;
}
button.notexecuted:hover {
    background:#eee;
}
button.show-all-noncompliances {
    background: #00a8f7;
}
button.show-all-noncompliances:hover {
    background: #4cc1f9;
}
div.wrapper {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: top;
    font-family: Roboto,Helvetica Neue,Helvetica,Liberation Sans,Arial,sans-serif;
    background: #e7f0f9;
    padding:20px;
}
div#script-div {
    padding: 0 10 0 0px;
    margin: 10 0 0 10px;
    max-height:90%;
}
textarea#script-textarea {
    box-shadow: 0.3em 0.2em 0.2em rgba(0,0,0,.1)
}
div#result-div {
    border: 1px #ccc solid;
    max-height:800px;
    overflow-y: scroll;
    margin: 10 0 0 10px;
}
pre#result-content {
    margin: 0px;
    background-color: #fff;
}
div.header {
    padding: 10 0 0 0px;
    margin: 0 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}
div.test-result-header {
    padding: 10 0 0 0px;
    font-size: 20px;
    font-weight: bold;
}
div.test-result-section-header {
    font-size:16px;
    font-weight: bold;
    margin: 10 0 4 0px;
}